# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/
venv-383/
venv/

# Bot local files
*.db

# Python
__pycache__/

# Config files
config.yaml
plugins/*.yaml

# Plugin data
plugins/*.pkl

# Log files
*.log

# other stuff
plugins/sabnzbdapi.py
