# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/
venv-383/
venv/

# Bot local files
*.db
store/

# Python
__pycache__/

# Config files
config.yaml
plugins/*.yaml

# Plugin data
plugins/*.pkl
plugins/*.json
plugins/*/*.json

# Log files
*.log

# other stuff
plugins/sabnzbdapi.py
