# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/
venv-383/
venv/

# Bot local files
*.db

# Config file
config.yaml

# Python
__pycache__/

# Config file
config.yaml

# Log files
*.log

# other stuff
plugins/sabnzbdapi.py
plugins/sonarrapi.py
