matrix-nio[e2e]~=0.24.0
fuzzywuzzy~=0.18.0
python-Levenshtein~=0.25.0
PyYAML~=6.0.1
jsonpickle~=3.0.2
Pillow~=10.2.0
blurhash-python~=1.2.2
requests~=2.31.0
uvloop>=0.17.0; platform_system != "Windows"
commonmark~=0.9.1